# This whole notebook will be data analysis, which most will be contributed to my written piece

In [249]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (16, 100)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [250]:
import pandas as pd

## import the female list I curated

In [251]:
df_w = pd.read_csv('females_list_bbc.csv')

### convert ratings, nominations, wins to numerics

In [252]:
df_w['rating'] = pd.to_numeric(df_w['rating'], errors='coerce')

In [253]:
df_w['wins'] = pd.to_numeric(df_w['wins'], errors='coerce')

In [254]:
df_w['nominations'] = pd.to_numeric(df_w['nominations'], errors='coerce')

### the average rating for films directed by females

In [255]:
df_w['rating'].median()

7.3

### the number of awards won on average

In [256]:
df_w['wins'].median()

12.0

### the number of nominations won on average

In [257]:
df_w['nominations'].median()

15.0

In [259]:
df_w['genres'] = df_w['genres'].str.strip("[]").str.replace("'", "").str.split(", ")

### separate genres

In [260]:
df_exploded = df_w.explode('genres')

In [261]:
genre_counts = df_exploded.groupby(['genres']).size().reset_index(name='Count')

### make a smaller dataframe that only contains genre statistics

In [262]:
genre_counts = genre_counts[genre_counts['Count'] > 0]

In [263]:
genre_counts

                     genres  Count
0                    Action      2
1               Action Epic      1
2                 Adventure      4
3            Adventure Epic      1
4   Artificial Intelligence      1
5                  Baseball      1
6                 Biography      9
7               Body Horror      1
8          Body Swap Comedy      1
9                    Comedy     17
10            Coming-of-Age     20
11     Contemporary Western      1
12            Costume Drama      3
13                    Crime     12
14           Cyber Thriller      1
15                Cyberpunk      2
16              Dark Comedy      4
17             Dark Romance      1
18         Desert Adventure      1
19                Docudrama      6
20              Documentary     11
21                    Drama     82
22         Dystopian Sci-Fi      1
23                     Epic      2
24                   Family      1
25                  Fantasy      8
26             Fantasy Epic      1
27        Feel-Good Romance      3
28                Film Noir      2
29                   Gun Fu      1
30                    Heist      2
31      High-Concept Comedy      1
32          Historical Epic      1
33                  History      9
34      History Documentary      2
35                   Horror      5
36              Legal Drama      1
37             Martial Arts      1
38     Military Documentary      1
39           Monster Horror      1
40       Mountain Adventure      1
41                    Music      2
42                  Mystery      7
43             Period Drama      7
44    Political Documentary      2
45          Political Drama      1
46       Political Thriller      1
47      Psychological Drama     11
48     Psychological Horror      2
49                    Quest      1
50            Quirky Comedy      4
51                Road Trip      1
52                  Romance     20
53          Romantic Comedy      3
54            Romantic Epic      2
55                   Satire      2
56                   Sci-Fi      2
57              Sci-Fi Epic      1
58         Screwball Comedy      2
59            Serial Killer      2
60                    Short      4
61                Slapstick      1
62           Slasher Horror      1
63                    Sport      2
64       Sports Documentary      1
65           Steamy Romance      2
66    Stop Motion Animation      1
67      Supernatural Horror      1
68                 Survival      2
69         Suspense Mystery      2
70          Sword & Sorcery      1
71              Teen Comedy      4
72               Teen Drama      5
73             Teen Romance      1
74                 Thriller     14
75                  Tragedy      8
76           Tragic Romance      2
77               True Crime      2
78           Vampire Horror      2
79                      War      6
80                  Western      2
81          Workplace Drama      1

In [264]:
genre_counts['genres'] = genre_counts['genres'].astype(str)  # Force string conversion

### put granular genres into bigger categories

In [265]:
parent_genres = {
    'Documentary': ['documentary', 'docu', 'biography'],
    'Comedy': ['comedy', 'humor', 'satire', 'dark comedy'],
    'Psychological Drama' : ['psychological drama'],
    'Horror': ['horror', 'terror', 'monster', 'slasher', 'ghost'],
    'Sports': ['sport', 'ball', 'baseball', 'athlete', 'fitness'],
    'Romance': ['romance', 'romantic', 'love', 'steamy'],
    'Thriller': ['thriller', 'suspense', 'crime'],
    'Coming-of-Age': ['coming-of-age', 'teen', 'youth', 'adolescent'],
    'Mystery': ['mystery', 'whodunit', 'enigma'],
    'Crime': ['crime', 'heist', 'gangster', 'mafia', 'noir'],
    'Sci-Fi': ['sci-fi', 'science fiction', 'space opera', 'cyberpunk', 'artificial', 'fantasy'],
    'Family': ['family'],
    'History': ['history'],
    'War' : ['war'],
    'Action': ['action', 'adventure', 'epic', 'heroic'],
    'Animation': ['anim'],
    'Other': []
}

# wrote a function that applies each individual/niche genre to the parent categories 
def map_to_parent(genre):
    if pd.isna(genre):
        return 'Other'
    genre_lower = str(genre).lower().strip()
    for parent, keywords in parent_genres.items():
        if any(keyword in genre_lower for keyword in keywords):  
            return parent
    return 'Other'

# Apply mapping
genre_counts['Broad_Genre'] = genre_counts['genres'].apply(map_to_parent)

# Aggregate
df_w_agg = genre_counts.groupby([ 'Broad_Genre'], as_index=False)['Count'].sum()

In [266]:
genre_counts

                     genres  Count          Broad_Genre
0                    Action      2               Action
1               Action Epic      1               Action
2                 Adventure      4               Action
3            Adventure Epic      1               Action
4   Artificial Intelligence      1               Sci-Fi
5                  Baseball      1               Sports
6                 Biography      9          Documentary
7               Body Horror      1               Horror
8          Body Swap Comedy      1               Comedy
9                    Comedy     17               Comedy
10            Coming-of-Age     20        Coming-of-Age
11     Contemporary Western      1                Other
12            Costume Drama      3                Other
13                    Crime     12             Thriller
14           Cyber Thriller      1             Thriller
15                Cyberpunk      2               Sci-Fi
16              Dark Comedy      4               Comedy
17             Dark Romance      1              Romance
18         Desert Adventure      1               Action
19                Docudrama      6          Documentary
20              Documentary     11          Documentary
21                    Drama     82                Other
22         Dystopian Sci-Fi      1               Sci-Fi
23                     Epic      2               Action
24                   Family      1               Family
25                  Fantasy      8               Sci-Fi
26             Fantasy Epic      1               Sci-Fi
27        Feel-Good Romance      3              Romance
28                Film Noir      2                Crime
29                   Gun Fu      1                Other
30                    Heist      2                Crime
31      High-Concept Comedy      1               Comedy
32          Historical Epic      1               Action
33                  History      9              History
34      History Documentary      2          Documentary
35                   Horror      5               Horror
36              Legal Drama      1                Other
37             Martial Arts      1                Other
38     Military Documentary      1          Documentary
39           Monster Horror      1               Horror
40       Mountain Adventure      1               Action
41                    Music      2                Other
42                  Mystery      7              Mystery
43             Period Drama      7                Other
44    Political Documentary      2          Documentary
45          Political Drama      1                Other
46       Political Thriller      1             Thriller
47      Psychological Drama     11  Psychological Drama
48     Psychological Horror      2               Horror
49                    Quest      1                Other
50            Quirky Comedy      4               Comedy
51                Road Trip      1                Other
52                  Romance     20              Romance
53          Romantic Comedy      3               Comedy
54            Romantic Epic      2              Romance
55                   Satire      2               Comedy
56                   Sci-Fi      2               Sci-Fi
57              Sci-Fi Epic      1               Sci-Fi
58         Screwball Comedy      2               Comedy
59            Serial Killer      2                Other
60                    Short      4                Other
61                Slapstick      1                Other
62           Slasher Horror      1               Horror
63                    Sport      2               Sports
64       Sports Documentary      1          Documentary
65           Steamy Romance      2              Romance
66    Stop Motion Animation      1            Animation
67      Supernatural Horror      1               Horror
68                 Survival      2                Other
69         Suspense Mystery      2             Thriller
70          Sword & Sorcery      1                Other
71              Teen Comedy      4               Comedy
72               Teen Drama      5        Coming-of-Age
73             Teen Romance      1              Romance
74                 Thriller     14             Thriller
75                  Tragedy      8                Other
76           Tragic Romance      2              Romance
77               True Crime      2             Thriller
78           Vampire Horror      2               Horror
79                      War      6                  War
80                  Western      2                Other
81          Workplace Drama      1                Other

In [267]:
# sort vaalues by count
df_sorted = df_w_agg.sort_values(['Count'], ascending=False)

In [268]:
df_sorted

            Broad_Genre  Count
10                Other    122
2                Comedy     38
15             Thriller     32
5           Documentary     32
12              Romance     31
3         Coming-of-Age     25
13               Sci-Fi     16
0                Action     13
8                Horror     13
11  Psychological Drama     11
7               History      9
9               Mystery      7
16                  War      6
4                 Crime      4
14               Sports      3
1             Animation      1
6                Family      1

In [269]:
df_sorted['Gender'] = 'Female'

## import the list of 100 greatest film (filtered only to male-directed work)

In [271]:
df_all = pd.read_csv('list_all_bbc.csv')

### filter filmd directed by men only

In [272]:
female_directors = [
    "Maren Ade", "Agns Varda", "Claire Denis", 
    "Kathryn Bigelow", "Andrea Arnold", 
    "Lucrecia Martel", "Sarah Polley"
]

In [273]:
df_all = df_all[
    ~df_all["director"].isin(female_directors) & 
    ~df_all["director"].str.contains(",| and ", regex=True, na=False)
]

### convert ratings, nominations, wins to numerics

In [274]:
df_all['rating'] = pd.to_numeric(df_all['rating'], errors='coerce')

In [275]:
df_w['wins'] = pd.to_numeric(df_w['wins'], errors='coerce')

In [276]:
df_w['nominations'] = pd.to_numeric(df_w['nominations'], errors='coerce')

### the average rating

In [277]:
df_all['rating'].median()

7.8

### the number of awards won on average

In [246]:
df_all['wins'].median()

50.5

### the number of nominations on average

In [247]:
df_all['nominations'].median()

72.5

# linear regression: does the a higher number of awards won imply a higher rating?

## prepare smaller dataframes

In [ ]:
new_df = pd.DataFrame({
    'females': ['females'] * len(df_w),  # Repeat "females" for each row
    'rating': df_w['rating'],
    'wins': df_w['wins'],
    'director':df_w['director']
})

In [248]:
new_df_all = pd.DataFrame({
    'males': ['males'] * len(df_all),  
    'rating': df_all['rating'],
    'wins': df_all['wins'],
    'director': df_all['director']
})

## combined  two together

In [30]:
female_df = new_df.rename(columns={"females": "gender"})
male_df = new_df_all.rename(columns={"males": "gender"})

In [31]:
combined_df = pd.concat([female_df, male_df], ignore_index=True)

In [281]:
combined_df

      gender  rating   wins                          director
0    females     7.0   29.0                   Lisa Cholodenko
1    females     6.4    7.0                       Joanna Hogg
2    females     6.3    4.0                     Sofia Coppola
3    females     7.2    4.0                    Mrta Mszros
4    females     5.9    NaN                   Chantal Akerman
5    females     6.9    NaN                        Maya Deren
6    females     7.3    NaN                   Chantal Akerman
7    females     6.8   22.0                     Andrea Arnold
8    females     6.9   25.0                   Julia Ducournau
9    females     6.9    1.0                      Claire Denis
10   females     7.1    1.0                    Amy Heckerling
11   females     8.0   12.0                       Agns Varda
12   females     7.3    NaN                    Moufida Tlatli
13   females     7.1    2.0                      Claire Denis
14   females     7.5   22.0                 Haifaa Al-Mansour
15   females     7.4    NaN                       Agns Varda
16   females     7.0    NaN                    Shirley Clarke
17   females     6.8    4.0                       Nora Ephron
18   females     7.5    NaN                        Maya Deren
19   females     6.9    9.0                 Ana Lily Amirpour
20   females     7.3   11.0                    Penny Marshall
21   females     6.9    NaN                        Lois Weber
22   females     7.2    7.0                 Samira Makhmalbaf
23   females     7.4   10.0                    Cline Sciamma
24   females     6.9   12.0                    Cline Sciamma
25   females     6.5    7.0                   Kelly Reichardt
26   females     7.3    1.0                      Claire Denis
27   females     7.5   19.0                     Ildik Enyedi
28   females     7.5    8.0                 Agnieszka Holland
29   females     7.0    NaN                    Germaine Dulac
30   females     7.5   33.0                         Niki Caro
31   females     7.0    NaN                    Shirley Clarke
32   females     7.2   12.0                      Kasi Lemmons
33   females     7.3   13.0             Margarethe von Trotta
34   females     7.5   12.0                      Lynne Ramsay
35   females     7.1   18.0                      Debra Granik
36   females     7.4   25.0                        Chloe Zhao
37   females     6.5   19.0                     Sofia Coppola
38   females     7.2    2.0                   Kathryn Bigelow
39   females     6.1    NaN                  Marguerite Duras
40   females     7.4    6.0                    Penny Marshall
41   females     NaN    1.0                     Kira Muratova
42   females     6.1    2.0                   Susan Seidelman
43   females     6.8   56.0                     Jennifer Kent
44   females     8.2   32.0                      Ava DuVernay
45   females     7.3   31.0                     Patty Jenkins
46   females     6.9   16.0                      Jane Campion
47   females     NaN    9.0                   Lucrecia Martel
48   females     7.5   18.0                  Alice Rohrwacher
49   females     8.2    9.0                    Barbara Kopple
50   females     6.7    NaN                        Ida Lupino
51   females     7.9   13.0                         Mira Nair
52   females     6.6    3.0                     Kira Muratova
53   females     7.4   19.0                      Jane Campion
54   females     6.9    1.0                   Kathryn Bigelow
55   females     7.1    1.0                  Leni Riefenstahl
56   females     7.0   13.0                     Andrea Arnold
57   females     7.2    3.0                     Sofia Coppola
58   females     7.8    NaN                    Lotte Reiniger
59   females     8.4   37.0                     Nadine Labaki
60   females     7.5   50.0                   Kimberly Peirce
61   females     8.1   60.0                    Cline Sciamma
62   females     8.2   17.0                 Jennie Livingston
63   females     7.7    NaN                  Leni Riefenstahl
64   females     7.1    9.0                   Kelly Reichardt
65   females     8.7   42.0          Lana and Lilly Wachowski
66   females     6.8   10.0                      Lynne Ramsay
67   females     6.7   24.0                      Lynne Ramsay
68   females     6.6    NaN                    Liliana Cavani
69   females     7.7   16.0                       Agns Varda
70   females     6.7   42.0                   Lucrecia Martel
71   females     7.3    7.0                         Mira Nair
72   females     7.6    3.0                       Agns Varda
73   females     7.5   58.0                      Ava DuVernay
74   females     7.5   25.0                      Sarah Polley
75   females     7.8    NaN                 Forugh Farrokhzad
76   females     7.4  124.0                      Greta Gerwig
77   females     6.9    NaN                        Ida Lupino
78   females     7.4   26.0                      Lynne Ramsay
79   females     7.1   63.0                      Debra Granik
80   females     6.9    6.0                    Amy Heckerling
81   females     7.1   15.0                      Sally Potter
82   females     7.6    7.0                       Mary Harron
83   females     7.7    2.0                   Lina Wertmller
84   females     7.1    NaN                     Barbara Loden
85   females     7.0   16.0                   Lucrecia Martel
86   females     7.3    1.0                   Kathryn Bigelow
87   females     7.6    8.0                       Agns Varda
88   females     7.4   85.0                   Kathryn Bigelow
89   females     8.2    NaN                   Larisa Shepitko
90   females     6.6    4.0                        Julie Dash
91   females     7.3   21.0                     Andrea Arnold
92   females     7.3   59.0                         Maren Ade
93   females     7.5  125.0                   Kathryn Bigelow
94   females     7.2    1.0                    Vra Chytilov
95   females     7.7   97.0                     Sofia Coppola
96   females     7.3    6.0                      Claire Denis
97   females     7.5    NaN                   Chantal Akerman
98   females     7.8    2.0                       Agns Varda
99   females     7.5   65.0                      Jane Campion
100    males     8.3   37.0                  Darren Aronofsky
101    males     7.6   18.0                   Olivier Assayas
102    males     7.4    1.0                  Abbas Kiarostami
103    males     8.2   49.0                    Andrew Stanton
104    males     7.8   36.0                      Wes Anderson
105    males     7.8   76.0                   Tomas Alfredson
106    males     8.1   68.0                         Brad Bird
107    males     7.5   25.0                    Andrew Dominik
108    males     8.2   53.0              Juan Jos Campanella
109    males     8.5   57.0                    Roman Polanski
110    males     8.1  124.0                      Tom McCarthy
111    males     8.3   59.0                Jean-Pierre Jeunet
112    males     7.3  102.0                       Todd Haynes
113    males     7.8   52.0                   Jacques Audiard
114    males     8.0   83.0                       Spike Jonze
115    males     7.2   18.0                  Steven Spielberg
116    males     7.2   51.0                     Steve McQueen
117    males     9.0  215.0                Andrey Zvyagintsev
118    males     7.9   54.0                     Cameron Crowe
119    males     8.2   38.0                   Martin Scorsese
120    males     NaN    NaN                   Julian Schnabel
121    males     8.0   21.0                    Lars von Trier
122    males     6.6   15.0              Paul Thomas Anderson
123    males     5.3   14.0                    Harmony Korine
124    males     8.1   10.0                 Richard Linklater
125    males     7.2    8.0                      Jim Jarmusch
126    males     7.3   21.0                      Miguel Gomes
127    males     7.3   76.0                       Todd Haynes
128    males     7.6   11.0                      Wes Anderson
129    males     8.0   15.0                        Kim Ki-duk
130    males     7.7   60.0                  Paolo Sorrentino
131    males     8.4  134.0                 Quentin Tarantino
132    males     6.3   23.0                   Jonathan Glazer
133    males     7.3    3.0         Apichatpong Weerasethakul
134    males     7.4   37.0                  David Cronenberg
135    males     NaN    NaN                   Ousmane Sembne
136    males     7.4   69.0                 Pawe Pawlikowski
137    males     7.7   13.0                 Nuri Bilge Ceylan
138    males     7.6   87.0                      Baz Luhrmann
139    males     7.1    7.0         Apichatpong Weerasethakul
140    males     8.8  159.0                 Christopher Nolan
141    males     6.3   36.0                   Hou Hsiao-hsien
142    males     5.8    4.0                   Jean-Luc Godard
143    males     7.5   38.0                      John Crowley
144    males     7.6   38.0                Andrey Zvyagintsev
145    males     7.2   11.0                  Abbas Kiarostami
146    males     7.7   87.0               Abdellatif Kechiche
147    males     8.1  244.0                     Steve McQueen
148    males     7.1   36.0                    Lars von Trier
149    males     7.9   84.0                    Michael Haneke
150    males     8.1   99.0                       Pete Docter
151    males     7.7  141.0                           Ang Lee
152    males     6.7    6.0                   Terrence Malick
153    males     6.7   11.0         Apichatpong Weerasethakul
154    males     7.1   33.0              Abderrahmane Sissako
155    males     7.9  101.0                           Ang Lee
156    males     7.4   65.0                      Lszl Nemes
157    males     9.0  164.0                 Christopher Nolan
158    males     8.4   80.0  Florian Henckel von Donnersmarck
159    males     6.5   10.0                  Kenneth Lonergan
160    males     8.3   43.0                    Park Chan-wook
161    males     8.4   96.0                    Andrew Stanton
162    males     7.9   47.0                   Pedro Almodvar
163    males     7.8  174.0                     David Fincher
164    males     7.6    4.0                         Spike Lee
165    males     8.4   57.0                 Christopher Nolan
166    males     7.1   75.0              Paul Thomas Anderson
167    males     7.3   29.0                    Michael Haneke
168    males     7.7   97.0                     Sofia Coppola
169    males     8.1  135.0                      Wes Anderson
170    males     7.5    8.0                   Charlie Kaufman
171    males     8.1  245.0                     George Miller
172    males     7.8   62.0                    Michael Haneke
173    males     8.2  109.0                Guillermo Del Toro
174    males     7.0   29.0                        Leos Carax
175    males     7.9   41.0                   Cristian Mungiu
176    males     8.2   55.0                Joshua Oppenheimer
177    males     7.9   49.0                    Alfonso Cuarn
178    males     7.7    3.0                     David Fincher
179    males     8.3   89.0                    Asghar Farhadi
180    males     8.1   14.0                       Edward Yang
181    males     6.8  117.0                   Terrence Malick
182    males     8.3   73.0                     Michel Gondry
183    males     7.9  178.0                 Richard Linklater
184    males     8.6   58.0                    Hayao Miyazaki
185    males     8.2  114.0              Paul Thomas Anderson
186    males     8.1   45.0                      Wong Kar-wai
187    males     7.9   50.0                       David Lynch

In [283]:
%%R -i combined_df

model <- lm(wins ~ rating, data = combined_df
           )

# Print summary of the model
summary(model)

Call:
lm(formula = wins ~ rating, data = combined_df)

Residuals:
   Min     1Q Median     3Q    Max
-62.00 -27.16 -10.09  17.67 177.92

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) -250.092     39.792  -6.285 2.91e-09 ***
rating        39.158      5.295   7.396 7.15e-12 ***
---
Signif. codes:  0 *** 0.001 ** 0.01 * 0.05 . 0.1   1

Residual standard error: 41.36 on 162 degrees of freedom
  (24 Beobachtungen als fehlend gelscht)
Multiple R-squared:  0.2524,	Adjusted R-squared:  0.2478
F-statistic:  54.7 on 1 and 162 DF,  p-value: 7.149e-12

In [284]:
df_all['Number_of_Genres'] = df_all['genres'].str.strip("[]").str.split(", ").apply(len)

## separate genres for male-directed films

In [285]:
df_all['genres'] = df_all['genres'].str.strip("[]").str.replace("'", "").str.split(", ")

In [287]:
df_exploded_all = df_all.explode('genres')

## make a separate but smaller dataframe

In [288]:
genre_counts_all = df_exploded_all.groupby(['genres']).size().reset_index(name='Count')

In [289]:
genre_counts_all = genre_counts_all[genre_counts_all['Count'] > 0]

In [290]:
genre_counts_all['genres'] = genre_counts_all['genres'].astype(str)  # Force string conversion

In [291]:
genre_counts_all

                     genres  Count
0                    Action      6
1               Action Epic      5
2                 Adventure     13
3            Adventure Epic      5
4            Alien Invasion      1
5          Animal Adventure      2
6                 Animation      5
7                     Anime      1
8   Artificial Intelligence      3
9                 Biography      9
10             Buddy Comedy      1
11       Bumbling Detective      1
12                    Caper      1
13               Car Action      1
14                   Comedy     13
15            Coming-of-Age     12
16       Computer Animation      4
17     Contemporary Western      1
18                Cop Drama      1
19            Costume Drama      3
20                    Crime     13
21        Crime Documentary      1
22              Dark Comedy      7
23             Dark Fantasy      3
24             Dark Romance      5
25         Desert Adventure      1
26                Docudrama      5
27              Documentary      1
28                    Drama     74
29               Drug Crime      1
30         Dystopian Sci-Fi      3
31                     Epic     13
32          Erotic Thriller      2
33               Fairy Tale      3
34                   Family      5
35                  Fantasy     12
36             Fantasy Epic      2
37        Feel-Good Romance      3
38                 Gangster      3
39     Hand-Drawn Animation      1
40                  History      6
41                   Horror      2
42          Jukebox Musical      1
43              Legal Drama      5
44           Legal Thriller      1
45             Martial Arts      1
46       Mountain Adventure      1
47                    Music      2
48                  Musical      1
49                  Mystery     11
50   One-Person Army Action      2
51             Period Drama     18
52        Police Procedural      1
53       Political Thriller      1
54              Pop Musical      1
55             Prison Drama      3
56      Psychological Drama     20
57     Psychological Horror      1
58   Psychological Thriller      8
59                    Quest      5
60            Quirky Comedy      4
61           Raunchy Comedy      1
62                Road Trip      2
63             Rock Musical      1
64                  Romance     22
65          Romantic Comedy      2
66            Romantic Epic      1
67                   Satire      3
68                   Sci-Fi      8
69              Sci-Fi Epic      3
70            Sea Adventure      1
71            Serial Killer      1
72                    Short      1
73            Showbiz Drama      2
74             Space Sci-Fi      1
75          Splatter Horror      1
76                      Spy      1
77           Steamy Romance      4
78                Superhero      1
79     Supernatural Fantasy      4
80      Supernatural Horror      2
81         Suspense Mystery      3
82          Sword & Sorcery      2
83               Teen Drama      1
84             Teen Fantasy      2
85             Teen Romance      3
86                 Thriller     13
87                  Tragedy     16
88           Tragic Romance      3
89               True Crime      5
90           Vampire Horror      1
91                      War      6
92                 War Epic      1
93                  Western      1
94             Western Epic      1
95                Whodunnit      3
96          Workplace Drama      1
97                    Wuxia      2

## apply the "map individual/niche genre to broader categories" function to this list

In [293]:
# Apply mapping
genre_counts_all['Broad_Genre'] = genre_counts_all['genres'].apply(map_to_parent)

# Aggregate
df_agg = genre_counts_all.groupby(['Broad_Genre'], as_index=False)['Count'].sum()

In [294]:
df_agg

            Broad_Genre  Count
0                Action     51
1             Animation     11
2                Comedy     31
3         Coming-of-Age     15
4                 Crime      3
5           Documentary     16
6                Family      5
7               History      6
8                Horror      7
9               Mystery     11
10                Other    157
11  Psychological Drama     20
12              Romance     41
13               Sci-Fi     39
14             Thriller     47
15                  War      7

In [295]:
# assign the gender to this dataframe

df_agg['Gender'] = 'Male'

## combined dataframes for both genders to test if there's gender difference in what type of stories they tell

In [296]:
df_datawrap = pd.concat([df_sorted, df_agg], ignore_index=True)

In [298]:
df_pivoted = df_datawrap.pivot_table(
    index=['Broad_Genre'], 
    columns='Gender',              
    values='Count',               
    fill_value=0                  
).reset_index()                    

df_pivoted.columns = ['Broad_Genre', 'Female', 'Male']

In [299]:
df_pivoted

            Broad_Genre  Female   Male
0                Action    13.0   51.0
1             Animation     1.0   11.0
2                Comedy    38.0   31.0
3         Coming-of-Age    25.0   15.0
4                 Crime     4.0    3.0
5           Documentary    32.0   16.0
6                Family     1.0    5.0
7               History     9.0    6.0
8                Horror    13.0    7.0
9               Mystery     7.0   11.0
10                Other   122.0  157.0
11  Psychological Drama    11.0   20.0
12              Romance    31.0   41.0
13               Sci-Fi    16.0   39.0
14               Sports     3.0    0.0
15             Thriller    32.0   47.0
16                  War     6.0    7.0

In [300]:
genre_totals = df_pivoted.groupby('Broad_Genre')[['Female', 'Male']].sum().reset_index()

In [302]:
# Calculate total Female and Male movies (across all genres)
total_female = genre_totals['Female'].sum()
total_male = genre_totals['Male'].sum()

# Add percentage columns
genre_totals['Female_Share (%)'] = (genre_totals['Female'] / total_female) * 100
genre_totals['Male_Share (%)'] = (genre_totals['Male'] / total_male) * 100

# Round to 2 decimal places
genre_totals['Female_Share (%)'] = genre_totals['Female_Share (%)'].round(2)
genre_totals['Male_Share (%)'] = genre_totals['Male_Share (%)'].round(2)

In [303]:
genre_totals

            Broad_Genre  Female   Male  Female_Share (%)  Male_Share (%)
0                Action    13.0   51.0              3.57           10.92
1             Animation     1.0   11.0              0.27            2.36
2                Comedy    38.0   31.0             10.44            6.64
3         Coming-of-Age    25.0   15.0              6.87            3.21
4                 Crime     4.0    3.0              1.10            0.64
5           Documentary    32.0   16.0              8.79            3.43
6                Family     1.0    5.0              0.27            1.07
7               History     9.0    6.0              2.47            1.28
8                Horror    13.0    7.0              3.57            1.50
9               Mystery     7.0   11.0              1.92            2.36
10                Other   122.0  157.0             33.52           33.62
11  Psychological Drama    11.0   20.0              3.02            4.28
12              Romance    31.0   41.0              8.52            8.78
13               Sci-Fi    16.0   39.0              4.40            8.35
14               Sports     3.0    0.0              0.82            0.00
15             Thriller    32.0   47.0              8.79           10.06
16                  War     6.0    7.0              1.65            1.50

In [304]:
genre_totals.to_csv('genre_share.csv', index=False)

# THIS PART DID NOT CONTRIBUTE TO MY STORY - Analysis for Rotten Tomatoes List

In [110]:
df_rt = pd.read_csv('rotten.csv')

## 1. convert all statistics into numerics

In [111]:
df_rt['Year'] = pd.to_numeric(df_rt['Year'], errors='coerce').astype('Int64')

In [112]:
df_rt['Rating'] = pd.to_numeric(df_rt['Rating'], errors='coerce')

## 2. how many genred does each film is tagged?

In [113]:
df_rt['Number_of_Genres'] = df_rt['Genres'].str.strip("[]").str.split(", ").apply(len)

In [114]:
df_rt

,Title,Year,Director,Link,Rating,Wins,Nominations,Genres,Number_of_Genres
0,The Substance,2024,Coralie Fargeat,https://www.imdb.com/title/tt17526714/,7.3,143.0,280.0,"['Body Horror', 'Dark Comedy', 'Monster Horror...",8
1,My Old Ass,2024,Megan Park,https://www.imdb.com/title/tt18559464/,6.9,9.0,35.0,"['Coming-of-Age', 'Comedy', 'Drama', 'Romance']",4
2,Love Lies Bleeding,2024,Rose Glass,https://www.imdb.com/title/tt19637052/,6.6,6.0,53.0,"['Dark Romance', 'Drug Crime', 'Erotic Thrille...",10
3,The Fire Inside,2024,Rachel Morrison,https://www.imdb.com/title/tt6133444/,6.7,5.0,17.0,"['Boxing', 'Docudrama', 'Biography', 'Drama', ...",5
4,The Devil's Bath,2024,Veronika Franz,https://www.imdb.com/title/tt29141112/,6.6,15.0,10.0,"['Folk Horror', 'Period Drama', 'Drama', 'Hist...",6
...,...,...,...,...,...,...,...,...,...
283,Monsoon Wedding,2001,Mira Nair,https://www.imdb.com/title/tt0265343/,7.3,7.0,12.0,"['Feel-Good Romance', 'Romantic Comedy', 'Come...",5
284,Promises,2001,Justine Shapiro,https://www.imdb.com/title/tt0282864/,8.3,15.0,5.0,['Documentary'],1
285,The Taste of Others,2000,Agns Jaoui,https://www.imdb.com/title/tt0216787/,7.2,16.0,12.0,"['Comedy', 'Drama', 'Romance']",3
286,The Gleaners and I,2000,Agns Varda,https://www.imdb.com/title/tt0247380/,7.7,16.0,3.0,['Documentary'],1
287,The Life and Times of Hank Greenberg,1999,Aviva Kempner,https://www.imdb.com/title/tt0208261/,7.6,12.0,8.0,"['Baseball', 'Sports Documentary', 'Biography'...",5

## 3. divide the data by eras

In [115]:
bins = [1999, 2010, 2020, 2025]
labels = ['1999-2010', '2010-2020', '2020-2024']

# Add 'Era' column
df_rt['Era'] = pd.cut(
    df_rt['Year'],
    bins=bins,
    labels=labels,
    right=False
)

In [116]:
df_rt

,Title,Year,Director,Link,Rating,Wins,Nominations,Genres,Number_of_Genres,Era
0,The Substance,2024,Coralie Fargeat,https://www.imdb.com/title/tt17526714/,7.3,143.0,280.0,"['Body Horror', 'Dark Comedy', 'Monster Horror...",8,2020-2024
1,My Old Ass,2024,Megan Park,https://www.imdb.com/title/tt18559464/,6.9,9.0,35.0,"['Coming-of-Age', 'Comedy', 'Drama', 'Romance']",4,2020-2024
2,Love Lies Bleeding,2024,Rose Glass,https://www.imdb.com/title/tt19637052/,6.6,6.0,53.0,"['Dark Romance', 'Drug Crime', 'Erotic Thrille...",10,2020-2024
3,The Fire Inside,2024,Rachel Morrison,https://www.imdb.com/title/tt6133444/,6.7,5.0,17.0,"['Boxing', 'Docudrama', 'Biography', 'Drama', ...",5,2020-2024
4,The Devil's Bath,2024,Veronika Franz,https://www.imdb.com/title/tt29141112/,6.6,15.0,10.0,"['Folk Horror', 'Period Drama', 'Drama', 'Hist...",6,2020-2024
...,...,...,...,...,...,...,...,...,...,...
283,Monsoon Wedding,2001,Mira Nair,https://www.imdb.com/title/tt0265343/,7.3,7.0,12.0,"['Feel-Good Romance', 'Romantic Comedy', 'Come...",5,1999-2010
284,Promises,2001,Justine Shapiro,https://www.imdb.com/title/tt0282864/,8.3,15.0,5.0,['Documentary'],1,1999-2010
285,The Taste of Others,2000,Agns Jaoui,https://www.imdb.com/title/tt0216787/,7.2,16.0,12.0,"['Comedy', 'Drama', 'Romance']",3,1999-2010
286,The Gleaners and I,2000,Agns Varda,https://www.imdb.com/title/tt0247380/,7.7,16.0,3.0,['Documentary'],1,1999-2010
287,The Life and Times of Hank Greenberg,1999,Aviva Kempner,https://www.imdb.com/title/tt0208261/,7.6,12.0,8.0,"['Baseball', 'Sports Documentary', 'Biography'...",5,1999-2010